################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Runner/.vs/Runner/v14/.suo
/Runner/Runner.VC.VC.opendb
/Runner/Runner.VC.db
